<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="width: 100%;text-align: right;direction: rtl;font-size: 22px;">
    <div style="font-size: 22px;">عزيزي المستفيد @Name</div><br><br>

    <div style="">تفدم لك امانة الرياض الشكر على المشاركة الفعالة , ونفيدكم بانه تم استقبال الفكرة الخاصة بكم برقم : @Code وسيتم دراستها كما يمكنك الاستعلام عن التحديثات الخاصة بها من خلال الحساب الخاص بكم في منصة الابتكار الرقمي على الرابط الاتي : </div><br><br>

    <div style=""><a href="@Link">منصة الابتكار الرقمي</a> </div><br><br><div style="">وتقبلو منا التحية والتقدير  </div><br><br><div style="">وحدة الابتكار الرقمي \ امانة منطقة الرياض</div>
</body>
</html>